<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @property.user %>
</p>

<p>
  <strong>Property name:</strong>
  <%= @property.property_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @property.zip %>
</p>

<p>
  <strong>Type of property:</strong>
  <%= @property.type_of_property %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @property.sqft %>
</p>

<p>
  <strong>No of rooms:</strong>
  <%= @property.no_of_rooms %>
</p>

<p>
  <strong>No of bathrooms:</strong>
  <%= @property.no_of_bathrooms %>
</p>

<p>
  <strong>Occupied by renter:</strong>
  <%= @property.occupied_by_renter %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
