<%= form_for(@rent) do |f| %>
  <% if @rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
      <% @rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %><br>
    <%= f.text_field :property_id %>
  </div>
  <div class="field">
    <%= f.label :renter_name %><br>
    <%= f.text_field :renter_name %>
  </div>
  <div class="field">
    <%= f.label :rent_time_period_in_months %><br>
    <%= f.number_field :rent_time_period_in_months %>
  </div>
  <div class="field">
    <%= f.label :rent_cost_in_dollars %><br>
    <%= f.number_field :rent_cost_in_dollars %>
  </div>
  <div class="field">
    <%= f.label :deposit_amount %><br>
    <%= f.number_field :deposit_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
